
bin/Debug/ScriptHookVDotNet3.dll
bin/Debug/ScriptHookVDotNet3.xml
.vs/Surrender/v16/.suo
.vs/Surrender/v16/Server/sqlite3/storage.ide
.vs/Surrender/v16/Server/sqlite3/storage.ide-shm
.vs/Surrender/v16/Server/sqlite3/db.lock
.vs/Surrender/v16/Server/sqlite3/storage.ide-wal
obj/Debug/Surrender.csproj.CopyComplete
obj/Debug/Surrender.csproj.FileListAbsolute.txt
obj/Debug/Surrender.csprojAssemblyReference.cache
obj/Debug/Surrender.pdb
obj/Debug/Surrender.dll
