
bin/Debug/ScriptHookVDotNet3.dll
bin/Debug/ScriptHookVDotNet3.xml
.vs/Surrender/v16/.suo
.vs/Surrender/v16/.suo
.vs/Surrender/v16/Server/sqlite3/storage.ide
.vs/Surrender/v16/Server/sqlite3/storage.ide-shm
bin/Debug/Surrender.dll
